<!doctype html>
<html lang="en">
  <head>
    <%- include('./template/head.ejs') %>
  </head>
  <body>
    <%- include('./template/header.ejs')%>

    <main>

      <% if (data.length) { %>
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">結果</h1>
              <p class="lead text-muted"><%= pict.description %></p>
              <div class="card mx-auto" style="width: 18rem;">
                <img src="<%= pict.photo_link %>" class="card-img-top" alt="抽獎結果">
              </div>
              <p>
                <a href="./index" class="btn btn-primary my-2">再抽一次</a>
              </p>
            </div>
          </div>
        </section>
      <% } %>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light text-center">查看所有抽獎項目</h1>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% if (data.length) { %>
            <% data.forEach((each, index) => { %>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="<%= each.photo_link %>" class="card-img-top" alt="...">
                  <p class="card-text text-center text-light bg-dark bg-gradient"><%= ratioArr[index] %></p>
                </div>
              </div>
            <% }) %>
          <% } %>
          </div>

        </div>
      </div>

    </main>

    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Demo draw-api</p>
      </div>
    </footer>

    <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
